{% extends "base.html"%}

{% block title %}Home{% endblock %}

{% block body %}
<div class="jumbotron">
    <div class="container">
        <h1>JOBPLUS</h1>
        <p>找工作，招人才，就上jobplus</p>    
    </div>
</div>

<div class="job-list">
<div class="row">
    <div class="col-sm-6 col-md-4">
         <div class="thumbnail">
             <div class="caption">
                 <a href='#'><h3>哈哈工程师</h3>
                 <p>经验3年 大专</p>
              </a>
              </div>
              <div class="media">
                  
          
              </div>

         </div>
    </div>
</div>
<div>
    <a href='#'class="btn btn-success btn-ls list-more-btn">查看更多</a>
  </div>
</div>
{% endblock %}

